@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@300;400;700;900&display=swap');

h1,h2,h3,h4,h5,h6,header,nav,footer,ul,li,p,body{
    margin: 0;
    padding: 0;
}


body{
    font-size: 18px;
    background-color: #F4F5ED;
    color:#D14C4F;
    font-weight: 900;
    font-family: 'Noto Serif TC', serif;
    cursor: default;
}

.container{
    width: 84%;
    margin: auto;
    padding: 30px 0 10px 0;
    max-width: 1200px;
}

.header{
    background: linear-gradient(347.27deg, #B72F32 -101.33%, #D14C4F 42.43%);
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid #A52A2D;
}

.title{
    font-size: 1.2rem;
    font-weight: 600;
    color: #F4F5ED;
    line-height: 60px;
    letter-spacing: 5px;
}


.subtitle{
    text-align: center;
    font-size: 0.9rem;
    font-weight: 400;
    grid-area: subtitle;
    letter-spacing: 2px;
}

.month{
    font-size: 45px;
    grid-area: month;
}

.month::after{
    content: "月";
    font-size: 1rem;
    padding-left: 5px;
}

.regionNow{
    writing-mode: vertical-lr;
    font-size: 30px;
    letter-spacing: 10px;
    grid-area: region;
    display: block;
    cursor: pointer;
}

.regionNow::after{
    /* content:"▲";
    font-size: 18px; */
    content:"";
    border-color: transparent transparent #D14C4F transparent;
    border-style: solid;
    border-width: 0px 5px 10px 5px;
    height: 0px;
    width: 0px;
    writing-mode: horizontal-tb;
    font-size: 14px;
    display: block;
    margin-top: 98px;
    transition: all .3s;
}

.regionNow.active::after{
    /* content:"▲";
    font-size: 18px; */
    transform: rotate(180deg);
    transition: all .3s;
}


.weatherDataBlock{
    font-weight: 300;
    font-size: 16px;
    border-top: 3px solid #D14C4F;
    grid-area: data;
    margin-top: 30px;
    margin-left: 20px
}
.CI{
    border-bottom: 1px solid #D14C4F;
}

.Wx,.T,.PoP,.CI{
    border-top: 1px solid #D14C4F;
    padding: 1px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Wx::before{
    content: "天氣現象";
    text-align: left;
}

.T::before{
    content: "最高溫 / 最低溫";
    display: inline-block;
}

.PoP::before{
    content: "降雨機率";
}

.CI::before{
    content: "舒適度";
}

.date{
    font-size: 120px;
    grid-area: date;
    line-height: 120px;
    align-self: center;
    justify-self: center;
}


.good,.bad{
    text-align: center;
    display: flex;
    justify-content: space-between;
}

.good{
    padding: 5px 10px;
    line-height: 40px;
    background-color: #D14C4F;
    border-radius: 50px;
    color: #F4F5ED;
    font-size: 26px;
    grid-area: good;
    padding-right: 20px;
    
}

.bad{
    padding: 5px 10px;
    font-size: 18px;
    grid-area: bad;
    align-self: center;
}

.good::before{
    content: "宜";
    padding-left: 20px;
}

.bad::before{
    content: "忌";
}

.goTmrBtn{
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr;
    justify-items: end;
}
/* 
.goTmrBtn{
    position: fixed;
    bottom: 0;
    right: 0;
} */


.regionMenu.active{
    opacity: 1;
    transition: all .3s;
    position: fixed;
    bottom: 0;
    left: 0;
}

.region{
    padding: 11px 10px;
    text-align: center;
    cursor:pointer;
}


/* Grid Layout - parents*/
.regionMenu{
    width: 100%;
    margin:auto;
    padding:20px 5px;
    box-sizing: border-box;
    background-color: #252525cb;
    color: #F4F5ED;
    position: fixed;
    bottom: -100%;
    left: 0;
    font-weight: 700;
    z-index: 10;
    opacity: 0;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    transition: all .9s;
}


.mainContent{
    display: grid;
    /* grid-template-columns: repeat(3,1fr); */
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: "subtitle subtitle subtitle"
                         "month    data data"
                         "region data data"
                         ".     date ."
                         "good    good good"
                         ".       bad   .";
    grid-row-gap: 20px;
}



/* larger device - above 768px */
@media screen and (min-width: 768px) {
    .mainContent{
        /* display: grid; */
        grid-template-columns: 0.5fr 1.5fr 1fr 1fr;
        grid-template-rows: auto;
        grid-template-areas: "subtitle subtitle subtitle subtitle"
                             "month    .        .        ."
                             "region date     data     data"
                             "lregion date     data     data"
                             "good     good     .      bad"
                             "regionmenu regionmenu regionmenu regionmenu";
        /* grid-row-gap: 10px; */
        align-items: stretch;
    }
    .regionNow::after{
        display: none;
    }
    .regionMenu{
        grid-template-columns: repeat(5,1fr);
        opacity: 1;
        position:static;
        background-color: #F4F5ED;
        border-top: 3px solid #3d3d3d;
        border-bottom: 1px solid #3d3d3d;
        width: 83%;
    }

    .regionMenu.active{
        grid-template-columns: repeat(5,1fr);
        opacity: 1;
        position:static;
        background-color: #F4F5ED;
        border-top: 3px solid #3d3d3d;
        border-bottom: 1px solid #3d3d3d;
        width: 83%;
    }

    .regionNow{
        cursor: default;
    }
    .region{
        color: #333333;
        padding: 6px 10px;
    }
    .region :hover{
        color:#D14C4F;
    }
    .weatherDataBlock{
        margin-left: 80px;
    }
    .good{
        padding: 3px 20px;
    }
    .bad{
        padding: 5px 0px;
    }
}